<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conoce el auto dodge challenger</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">El Dodge Challenger es un automóvil deportivo de dos puertas tipo "muscle car", producido a partir de 1970 por el fabricante de automóviles estadounidense Dodge</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="flex items-center gap-x-6">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Dodge_Challenger_SRT8_%282015%29_Hirschaid-20220709-RM-120221.jpg/375px-Dodge_Challenger_SRT8_%282015%29_Hirschaid-20220709-RM-120221.jpg" height="300px" width="400px">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Modelo: Challenger SRT-8</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">El SRT-8 2009 es prácticamente idéntico a su homólogo 2008, con la principal diferencia de la posibilidad de elegir una transmisión automática de 5 velocidades o una manual de 6 velocidades. Como características estándar se incluyen grandes frenos Brembo, una suspensión mejorada, los faros bi-xenón, asientos deportivos de cuero con calefacción, encendido sin llave, radio por satélite Sirius y rines de 20 pulgadas (50,8 cm), ruedas de aluminio forjado, además de la mayoría de los servicios ofrecidos en la parte inferior de R/T y SE, tales como el aire acondicionado y control de crucero. Además, en 2009 tendría un diferencial mejorado.</p>

            <style>

              p {

                background-color: rgb(103, 103, 109);
              }
            </style>

            <p class="El SRT-8 2009 es prácticamente idéntico a su homólogo 2008, con la principal diferencia de la posibilidad de elegir una transmisión automática de 5 velocidades o una manual de 6 velocidades. Como características estándar se incluyen grandes frenos Brembo, una suspensión mejorada, los faros bi-xenón, asientos deportivos de cuero con calefacción, encendido sin llave, radio por satélite Sirius y rines de 20 pulgadas (50,8 cm), ruedas de aluminio forjado, además de la mayoría de los servicios ofrecidos en la parte inferior de R/T y SE, tales como el aire acondicionado y control de crucero. Además, en 2009 tendría un diferencial mejorado."></p>
          </div>
        </div>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</div>